<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AutoLoad" value="true"/>
        <add key="TesterAssemblyName" value="ProbadorEsteras.dll"/>
        <add key="TesterClassName" value="ProbadorEsteras.Probador"/>
        <add key="SolutionAssemblyName" value="ExamenEsteras.dll"/>
    </appSettings>
</configuration>