<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AutoLoad" value="true"/>
        <add key="TesterAssemblyName" value="ExamenLlenarMatriz.dll"/>
        <add key="TesterClassName" value="ExamenLlenarMatriz.ExamenLlenarMatriz"/>
        <add key="SolutionAssemblyName" value="LlenarMatriz.dll"/>
    </appSettings>
</configuration>