<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AutoLoad" value="true"/>
        <add key="TesterAssemblyName" value="ExamenCriptografiaTester.dll"/>
        <add key="TesterClassName" value="ExamenCriptografiaTester.ExamenCriptografiaTester"/>
        <add key="SolutionAssemblyName" value="ExamenCriptografia.dll"/>
    </appSettings>
</configuration>