<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AutoLoad" value="true"/>
        <add key="TesterAssemblyName" value="TesterBasesNumericas.dll"/>
        <add key="TesterClassName" value="TesterBasesNumericas.TesterBasesNumericas"/>
        <add key="SolutionAssemblyName" value="SistemasNumeracion.dll"/>
    </appSettings>
</configuration>