<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AutoLoad" value="true"/>
        <add key="TesterAssemblyName" value="ProbadorPuntosCercanos.dll"/>
        <add key="TesterClassName" value="ProbadorPuntosCercanos.ProbadorPuntosCercanos"/>
        <add key="SolutionAssemblyName" value="ExamenPuntosCercanos.dll"/>
    </appSettings>
</configuration>