<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AutoLoad" value="true"/>
        <add key="TesterAssemblyName" value="OrdenarPorCercaniaTester.dll"/>
        <add key="TesterClassName" value="OrdenarPorCercaniaTester.OrdenarPorCercaniaTester"/>
        <add key="SolutionAssemblyName" value="ExamenOrdenacion.dll"/>
    </appSettings>
</configuration>